.inputInfo {
    margin-top: -100px;
    z-index: 1;
    position: relative;
    /* background: #fff; */
    background: white;
    padding: 30px;
    -webkit-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 30px -10px rgba(177, 150, 150, 0.2);
}

.jumbotron {
    background-image: url("http://www.geobookings.com/data/accomodations/03ac5df68db3441893459f77c0b8743f.jpg");
    background-position: center; 
    margin-bottom: 0;
    z-index: 0;
    padding: 15rem 2rem;
}

#jumboFade {
    background:rgba(255,255,255,0.5);
}